/* ---------------------ANIMATIONS----------------------- */

/* анімація 1 */
@keyframes transform { /* створили сценарій */
	0% {
		transform: translate(-20px);
	}
	100% {
		transform: translate(20px);
	}
}


/* анімація 2 */
@keyframes scale { /* створили сценарій */
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(0);
	}
}

/* ---------для блока .box------анимация------ */
.box__image {
	width: 50px; /* щоб задати ширину та висоту блоку */
	height: 50px;/* щоб задати ширину та висоту блоку */
	position: relative; /* для анімації */

	animation-name: blink-2; /* приєднали сценарій */
	animation-delay: 0,5s; /* затримка анімації */
	animation-duration: 15s; /* встановили час тривалості сценарію */
	animation-timing-function: linear;/* плавність */
	animation-iteration-count: 1;/* infinite -нескінченне */ /* або 1, 2, 3... */  /* кіл-сть повторень анімації */
	animation-direction: alternate /* reverse */ /* alternate-reverse */; /* напрямок анімації - ця в зворотньому */
	/*animation-play-state: running; /* запустили - це за замовченням, а при hover:paused, none; */ 
	animation-fill-mode: forwards /* у кінцевому положенні*/ /* backwards - у початковому положенні */;
}	


/*--------------------------------------------*/
@-webkit-keyframes blink-2 {
	0% {
	  opacity: 1;
	}
	50% {
	  opacity: 0.2;
	}
	100% {
	  opacity: 1;
	}
  }
  @keyframes blink-2 {
	0% {
	  opacity: 1;
	}
	50% {
	  opacity: 0.2;
	}
	100% {
	  opacity: 1;
	}
  }
  

/*------------------------------------------------------*/
@-webkit-keyframes scale-up-center {
	0% {
	  -webkit-transform: scale(0.5);
			  transform: scale(0.5);
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	}
  }
  @keyframes scale-up-center {
	0% {
	  -webkit-transform: scale(0.5);
			  transform: scale(0.5);
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	}
  }