@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inter:regular&display=swap");
/* ======Підключення вручну======= */
/* Шрифт № 1 */
@import "header.css";
@font-face {
  font-family: "PFMonumentaPro";
  src: url("..//fonts/PFMonumentaPro.woff2") format("woff2"), url("..//fonts/PFMonumentaPro.woff") format("woff");
  wont-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li,
ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* за замовченням: ЇХ писати НЕ ТРЕБА */
/* 	flex-grow: 0;   при значенні 1 ми дозволяємо займати ВЕСЬ ВІЛЬНИЙ ПРОСТІР
	flex-grow: 1;	1 дозволяє зменшуватись МЕНЬШЕ ніж н/п flex-basis:50рх.
	flex-basis: auto; скільки контенту - стільки і буде займати ширину
	font-weight: 400;
	font-style: normal;
	color: #000;
 */
/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

/* Прибирання стилізації для КНОПОК від БРАУЗЕРІВ */
input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* FORM */
body {
  font-size: 1rem;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1270px; /* 1240 + 15 + 15 */
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero {
  background: url(../img/Frame28.png) #1c1b1b;
  background-position: top 11.25rem left 15.625rem, 0 0;
  background-repeat: no-repeat, no-repeat;
  background-size: 37.5rem 37.5rem, cover;
  padding: 0.5rem 0rem 0.078125rem;
  height: 100svh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 76.875em) {
  .hero {
    background-position: center 6.25rem left 3.125rem, 0 0;
  }
}
@media (max-width: 62em) {
  .hero {
    background-position: center 6.25rem left 0rem, 0 0;
  }
}
@media (max-width: 50.9375em) {
  .hero {
    background: url(../img/Frame28.png) #1c1b1b;
    background-position: center left 15.625rem, 0 0;
    background-repeat: no-repeat, no-repeat;
    background-size: 0rem 0rem, cover;
  }
}
.hero__container {
  display: grid;
  width: 100%;
}
.hero__content {
  padding: 1.25rem;
  justify-self: end;
  -ms-flex-item-align: end;
      align-self: end;
}
.hero__content > *:last-child {
  margin-bottom: 0em;
}
@media (max-width: 50.9375em) {
  .hero__content {
    justify-self: center;
  }
}
@media (max-width: 21.25em) {
  .hero__content {
    padding: 0rem;
  }
}
.hero__content h1 {
  font-size: 3.125rem;
  text-transform: uppercase;
  font-family: "PFMonumentaPro";
  text-align: center;
  color: #fbf0e6;
  padding: 1.25rem;
  justify-self: center;
}
@media (max-width: 28.75em) {
  .hero__content h1 {
    margin-bottom: 0.625em;
  }
}
@media (max-width: 28.75em) {
  .hero__content h1 {
    margin-bottom: 1.5625em;
  }
}
@media (max-width: 25.9375em) {
  .hero__content h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5625em;
  }
}
@media (max-width: 23.4375em) {
  .hero__content h1 {
    padding: 0.3125rem;
    margin-bottom: 2.5em;
  }
}
@media (max-width: 21.25em) {
  .hero__content h1 {
    margin-bottom: 1.5625em;
  }
}
.hero__img {
  max-width: 28.125rem;
}
@media (max-width: 50.9375em) {
  .hero__img {
    max-width: 100%;
    aspect-ratio: 200/70;
  }
}
@media (max-width: 37.5em) {
  .hero__img {
    max-width: 100%;
    aspect-ratio: 150/70;
  }
}
@media (max-width: 37.5em) {
  .hero__img {
    max-width: 100%;
    aspect-ratio: 100/70;
  }
}
.hero__img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 200/150;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 1.25rem;
  justify-self: start;
}
@media (max-width: 28.125em) {
  .hero__img img {
    aspect-ratio: 100/70;
  }
}
@media (max-width: 25em) {
  .hero__img img {
    margin-bottom: 1.875em;
  }
}
@media (max-width: 23.4375em) {
  .hero__img img {
    aspect-ratio: 90/80;
    padding: 0.3125rem;
  }
}
@media (max-width: 23.4375em) {
  .hero__img img {
    margin-bottom: 3.125em;
  }
}
.hero__scales {
  max-width: 28.125rem;
}
@media (max-width: 50.9375em) {
  .hero__scales {
    max-width: 100%;
    aspect-ratio: 250/100;
  }
}
.hero__scales img {
  width: 100%;
  height: 100%;
  aspect-ratio: 200/100;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 1.25rem;
  justify-self: start;
}
@media (max-width: 37.75em) {
  .hero__scales img {
    aspect-ratio: 350/100;
  }
}
@media (max-width: 23.4375em) {
  .hero__scales img {
    padding: 0.3125rem;
  }
}