@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700,800&display=swap");
/* ======Підключення вручну======= */
/* Шрифт № 1 */
@import "header.css";
@import "animation.css";
@font-face {
  font-family: "PFMonumentaPro";
  src: url("..//fonts/PFMonumentaPro.woff2") format("woff2"), url("..//fonts/PFMonumentaPro.woff") format("woff");
  wont-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li,
ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* за замовченням: ЇХ писати НЕ ТРЕБА */
/* 	flex-grow: 0;   при значенні 1 ми дозволяємо займати ВЕСЬ ВІЛЬНИЙ ПРОСТІР
	flex-grow: 1;	1 дозволяє зменшуватись МЕНЬШЕ ніж н/п flex-basis:50рх.
	flex-basis: auto; скільки контенту - стільки і буде займати ширину
	font-weight: 400;
	font-style: normal;
	color: #000;
 */
/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

/* Прибирання стилізації для КНОПОК від БРАУЗЕРІВ */
input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* FORM */
body {
  font-size: 1rem;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1270px; /* 1240 + 15 + 15 */
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero {
  background: url(../img/2.webp) #1c1b1b;
  background-position: top 9.375rem left 21.875rem, 0 0;
  background-repeat: no-repeat, no-repeat;
  background-size: 31.25rem 50rem, cover;
  padding: 0.5rem 0rem 0.078125rem;
  height: 100svh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 116.25em) {
  .hero {
    background: url(../img/2.webp) #1c1b1b;
    background-position: top 9.375rem left 18.75rem, 0 0;
    background-repeat: no-repeat, no-repeat;
    background-size: 23.75rem 34.375rem, cover;
  }
}
@media (max-width: 68.75em) {
  .hero {
    background: url(../img/2.webp) #1c1b1b;
    background-position: center left 15.625rem, 0 0;
    background-repeat: no-repeat, no-repeat;
    background-size: 0rem 0rem, cover;
  }
}
.hero__container {
  display: grid;
  width: 100%;
}
.hero__content {
  padding: 1.25rem;
  justify-self: end;
  -ms-flex-item-align: end;
      align-self: end;
}
.hero__content > *:last-child {
  margin-bottom: 0em;
}
@media (max-width: 68.75em) {
  .hero__content {
    justify-self: center;
  }
}
@media (max-width: 21.25em) {
  .hero__content {
    padding: 0rem;
  }
}
.hero__content h1 {
  font-size: 3.125rem;
  text-transform: uppercase;
  font-family: "PFMonumentaPro";
  text-align: center;
  color: #fbf0e6;
  padding: 1.25rem;
  justify-self: center;
  -webkit-animation-name: blink-2;
          animation-name: blink-2; /* приєднали сценарій */
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; /* затримка анімації */
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s; /* встановили час тривалості сценарію */
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; /* плавність */
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; /* infinite -нескінченне */ /* або 1, 2, 3... */ /* кіл-сть повторень анімації */
  -webkit-animation-direction: alternate;
          animation-direction: alternate; /* напрямок анімації - ця в зворотньому */
  /*animation-play-state: running; /* запустили - це за замовченням, а при hover:paused, none; */
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
@media (max-width: 28.75em) {
  .hero__content h1 {
    margin-bottom: 0.625em;
  }
}
@media (max-width: 28.75em) {
  .hero__content h1 {
    margin-bottom: 1.5625em;
  }
}
@media (max-width: 25.9375em) {
  .hero__content h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5625em;
  }
}
@media (max-width: 23.4375em) {
  .hero__content h1 {
    padding: 0.3125rem;
    margin-bottom: 2.5em;
  }
}
@media (max-width: 21.25em) {
  .hero__content h1 {
    margin-bottom: 1.5625em;
  }
}
.hero__img {
  max-width: 28.125rem;
  -webkit-animation-name: blink-2;
          animation-name: blink-2; /* приєднали сценарій */
  -webkit-animation-delay: 0, 5s;
          animation-delay: 0, 5s; /* затримка анімації */
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s; /* встановили час тривалості сценарію */
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; /* плавність */
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; /* infinite -нескінченне */ /* або 1, 2, 3... */ /* кіл-сть повторень анімації */
  -webkit-animation-direction: alternate;
          animation-direction: alternate; /* напрямок анімації - ця в зворотньому */
  /*animation-play-state: running; /* запустили - це за замовченням, а при hover:paused, none; */
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
@media (max-width: 50.9375em) {
  .hero__img {
    max-width: 100%;
    aspect-ratio: 200/70;
  }
}
@media (max-width: 37.5em) {
  .hero__img {
    max-width: 100%;
    aspect-ratio: 150/70;
  }
}
@media (max-width: 37.5em) {
  .hero__img {
    max-width: 100%;
    aspect-ratio: 100/70;
  }
}
.hero__img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 200/150;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 1.25rem;
  justify-self: start;
}
@media (max-width: 28.125em) {
  .hero__img img {
    aspect-ratio: 100/70;
  }
}
@media (max-width: 25em) {
  .hero__img img {
    margin-bottom: 1.875em;
  }
}
@media (max-width: 23.4375em) {
  .hero__img img {
    aspect-ratio: 90/80;
    padding: 0.3125rem;
  }
}
@media (max-width: 23.4375em) {
  .hero__img img {
    margin-bottom: 3.125em;
  }
}
.hero__scales {
  max-width: 28.125rem;
  -webkit-animation-name: blink-2;
          animation-name: blink-2; /* приєднали сценарій */
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s; /* затримка анімації */
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s; /* встановили час тривалості сценарію */
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; /* плавність */
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; /* infinite -нескінченне */ /* або 1, 2, 3... */ /* кіл-сть повторень анімації */
  -webkit-animation-direction: alternate;
          animation-direction: alternate; /* напрямок анімації - ця в зворотньому */
  /*animation-play-state: running; /* запустили - це за замовченням, а при hover:paused, none; */
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
@media (max-width: 50.9375em) {
  .hero__scales {
    max-width: 100%;
    aspect-ratio: 250/100;
  }
}
.hero__scales img {
  width: 100%;
  height: 100%;
  aspect-ratio: 200/100;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 1.25rem;
  justify-self: start;
}
@media (max-width: 37.75em) {
  .hero__scales img {
    aspect-ratio: 350/100;
  }
}
@media (max-width: 23.4375em) {
  .hero__scales img {
    padding: 0.3125rem;
  }
}

.about {
  padding: 5rem 0rem 5rem;
  background-image: url(../img/20.webp);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 47.99875em) {
  .about {
    padding: 1.875rem 0rem;
  }
}
@media (max-width: 33.75em) {
  .about {
    padding: 1.5625rem 0rem;
  }
}
@media (max-width: 25em) {
  .about {
    padding: 0.9375rem 0rem 1.5625rem;
  }
}
.about__container {
  max-width: 56.25rem;
  background-color: rgba(251, 240, 230, 0.2196078431);
  padding: 3.125rem;
  -webkit-transform: translate(0px, 30px);
      -ms-transform: translate(0px, 30px);
          transform: translate(0px, 30px);
  opacity: 0;
  visibility: hidden;
}
.about__container.show {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  visibility: visible;
}
@media (max-width: 33.75em) {
  .about__container {
    padding: 1.25rem;
  }
}
.about__container > *:last-child {
  margin-bottom: 0;
}
.about__container h2 {
  font-family: "PFMonumentaPro";
  font-size: 1.5625rem;
  margin-bottom: 1.6em;
  line-height: 135%;
  text-align: center;
}
@media (max-width: 28.125em) {
  .about__container h2 {
    margin-bottom: 1em;
  }
}
.about__container p {
  font-size: 1.25rem;
  margin-bottom: 1.25em;
  text-align: center;
  margin-bottom: 0.9375em;
  line-height: 135%;
  text-align: center;
}
.about__text {
  font-size: 1.25rem;
  margin-bottom: 1.875em;
}
.about__text > *:last-child {
  margin-bottom: 0;
}
.about p {
  margin-bottom: 0.9375em;
  line-height: 135%;
  text-align: center;
}
.about span {
  text-decoration: underline;
  font-weight: 600;
}

.team {
  background-color: #0e0d0d;
  padding: 5rem 0rem;
}
@media (max-width: 62em) {
  .team {
    padding: 2.5rem 0rem;
  }
}
@media (max-width: 47.99875em) {
  .team {
    padding: 1.875rem 0rem;
  }
}
.team__container h3 {
  text-align: center;
  font-family: "PFMonumentaPro";
  font-size: 2.1875rem;
  margin-bottom: 1.4285714286em;
  line-height: 135%;
  color: #f4d694;
  font-weight: 700;
  line-height: 135%;
  text-shadow: 0.0625rem 0.0625rem 0 rgb(0, 0, 0), -0.0625rem -0.0625rem 0rem rgb(255, 220, 0);
}
@media (max-width: 28.125em) {
  .team__container h3 {
    font-size: 1.5625rem;
  }
}
@media (max-width: 25.625em) {
  .team__container h3 {
    margin-bottom: 1.2em;
  }
}
@media (max-width: 23.75em) {
  .team__container h3 {
    margin-bottom: 0.8em;
  }
}
.team__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}
@media (max-width: 62em) {
  .team__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 43.75em) {
  .team__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.team__item {
  position: relative;
  overflow: hidden;
  padding: 1.875rem 1.875rem 0rem;
  border-radius: 3.125rem;
  border: 0.3125rem solid rgba(180, 157, 10, 0.67);
  background-image: url(../img/Frame\ 31.webp);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
.team__item > *:last-child {
  margin-bottom: 0em;
}
.team__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(200, 200, 200, 0.5058823529);
  -webkit-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-transition: 0.7s;
  transition: 0.7s;
  opacity: 0.5;
  z-index: 1;
}
.team__item:hover::before {
  -webkit-transform: translate(0rem, 0rem);
      -ms-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem);
}
.team__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team__right > *:last-child {
  margin-bottom: 0em;
}
@media (max-width: 62em) {
  .team__right {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.team__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 62em) {
  .team__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }
}
.team__title {
  padding: 0.9375rem;
  color: #0e0d0d;
  text-align: center;
  font-size: 1.5625rem;
  font-family: "Inter";
  font-weight: 800;
  line-height: 135%;
  letter-spacing: 0.09375rem;
}
@media (max-width: 37.5em) {
  .team__title {
    font-size: 1.25rem;
  }
}
@media (max-width: 21.875em) {
  .team__title {
    font-size: 1.125rem;
  }
}
.team__foto {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 62em) {
  .team__foto {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
  }
}
.team__foto img {
  width: 100%;
  height: 100%;
  aspect-ratio: 70/50;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 62em) {
  .team__foto img {
    aspect-ratio: 250/300;
  }
}
@media (max-width: 28.125em) {
  .team__foto img {
    aspect-ratio: 200/300;
  }
}
@media (max-width: 20em) {
  .team__foto img {
    aspect-ratio: 200/300;
  }
}
.team__name {
  color: #0e0d0d;
  text-align: center;
  font-size: 1.5625rem;
  margin-bottom: 0.8em;
  font-family: "Inter";
  font-weight: 700;
  line-height: 130%;
}
@media (max-width: 26.875em) {
  .team__name {
    margin-bottom: 0.75em;
  }
}
.team__icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.625rem;
  text-align: center;
}
@media (max-width: 62em) {
  .team__icons {
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
  }
}
@media (max-width: 50.5em) {
  .team__icons {
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
}
@media (max-width: 47.99875em) {
  .team__icons {
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
  }
}
@media (max-width: 43.75em) {
  .team__icons {
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
  }
}
.team__icon {
  padding: 0.3125rem;
}
@media (max-width: 62em) {
  .team__icon {
    padding: 0.625rem;
  }
}
@media (max-width: 28.125em) {
  .team__icon {
    padding: 0.3125rem;
  }
}
.team__icon img {
  width: 3.75rem;
  height: 3.75rem;
  aspect-ratio: 250/30;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 55.125em) {
  .team__icon img {
    width: 3.125rem;
    height: 3.125rem;
  }
}
@media (max-width: 43.75em) {
  .team__icon img {
    width: 3.75rem;
    height: 3.75rem;
  }
}
@media (max-width: 26.875em) {
  .team__icon img {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.team__cod {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  font-size: 1.875rem;
  font-family: "PFMonumentaPro";
  font-weight: 700;
  padding: 3.125rem;
  z-index: 2;
  line-height: 130%;
  text-align: center;
  visibility: hidden;
}
.team__item:hover .team__cod {
  visibility: visible;
  background-color: rgb(232, 182, 17);
  opacity: 1;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.servises {
  padding: 5rem 0rem 1.25rem;
  background-image: url(../img/012.webp);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}
@media (max-width: 62em) {
  .servises {
    padding: 2.5rem 0rem;
  }
}
@media (max-width: 47.99875em) {
  .servises {
    padding: 1.875rem 0rem;
  }
}
.servises h2 {
  font-family: "PFMonumentaPro";
  font-weight: 500;
  font-size: 1.5625rem;
  margin-bottom: 1.6em;
  line-height: 135%;
  max-width: 79.375rem;
  margin: 0 auto;
  text-align: center;
  padding: 1.25rem;
}
@media (max-width: 28.125em) {
  .servises h2 {
    text-align: center;
    font-size: 1.125rem;
  }
}
.servises__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}
@media (max-width: 62em) {
  .servises__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.servises__container > *:last-child {
  margin-bottom: 0em;
}
.servises__container .horizont-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: block;
  width: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  height: 18px;
  position: relative;
  z-index: 5;
}
.servises__container .horizont-line::before, .servises__container .horizont-line::after {
  content: "";
  height: 18px;
  width: 2px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: #ffffff;
  margin-top: -1px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.servises__container .horizont-line::before {
  top: 0;
}
.servises__container .horizont-line::after {
  top: rotate(45deg);
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.line-open .servises__container .horizont-line::before, .line-open .servises__container .horizont-line::after {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  top: 0;
  background-color: blue;
}
.line-open .servises__container .horizont-line::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-bottom: -1px;
}
.line-open .servises__container .horizont-line::after {
  -webkit-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
          transform: rotate(-225deg);
  margin-bottom: -1px;
}
.servises__text {
  max-width: 56.25rem;
  background-color: rgba(228, 228, 227, 0.2196078431);
  padding: 1.25rem;
}
.servises__text > *:last-child {
  margin-bottom: 0em;
}
.servises__text p {
  font-size: 1.25rem;
  margin-bottom: 0.75em;
  line-height: 160%;
  font-family: "Inter";
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}
@media (max-width: 28.125em) {
  .servises__text p {
    font-size: 1.125rem;
  }
}
.servises__text p::before {
  content: "";
  display: inline-block;
  width: 0.375rem;
  height: 0.75rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.375rem;
          flex: 0 0 0.375rem;
  background-color: #f4d694;
  -webkit-transform: translateY(0.5rem);
      -ms-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
  border-radius: 0.625rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 0.0625rem solid transparent;
}
.servises__text p:hover::before {
  background-color: #1c1b1b;
  border: 0.0625rem solid #f4d694;
}

.questions {
  padding: 3.75rem 0rem;
}
@media (max-width: 62em) {
  .questions {
    padding: 2.5rem 0rem;
  }
}
@media (max-width: 47.99875em) {
  .questions {
    padding: 1.875rem 0rem;
  }
}
.questions__body > *:last-child {
  margin-bottom: 0em;
}
.questions__container > *:last-child {
  margin-bottom: 0em;
}
.questions__container h2 {
  font-family: "PFMonumentaPro";
  font-weight: 500;
  font-size: 1.5625rem;
  margin-bottom: 1.6em;
  line-height: 135%;
}
@media (max-width: 28.4375em) {
  .questions__container h2 {
    margin-bottom: 1.1111111111em;
    text-align: center;
  }
}
.questions__spoiler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1.25rem;
  -webkit-transform: translate(60px, 60px);
      -ms-transform: translate(60px, 60px);
          transform: translate(60px, 60px);
  opacity: 0;
  visibility: hidden;
}
.questions__spoiler > *:last-child {
  margin-bottom: 0em;
}
.questions__spoiler.show {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  visibility: visible;
}
.questions__title {
  font-family: "Inter";
  font-size: 1.125rem;
  margin-bottom: 0.8333333333em;
  line-height: 135%;
  display: none;
}
.questions__title.open {
  display: block;
}
.questions__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  background-color: #0e0e0d;
  color: #fbf0e6;
  font-size: 1.125rem;
  padding: 0.9375rem;
  line-height: 135%;
  border: 0.0625rem solid transparent;
  margin-bottom: 1.25em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 31.25em) {
  .questions__toggle {
    text-align: left;
  }
}
.questions__toggle:hover {
  background-color: #d5ae00;
  border: 0.0625rem solid #0e0d0d;
  color: #0e0d0d;
}

.advantages {
  padding: 5rem 0rem;
  background-image: url(../img/fon.webp);
  background-position: 0 0;
  background-repeat: repeat;
  background-size: contain;
}
@media (max-width: 62em) {
  .advantages {
    padding: 2.5rem 0rem;
  }
}
@media (max-width: 47.99875em) {
  .advantages {
    padding: 1.875rem 0rem;
  }
}
.advantages__container > *:last-child {
  margin-bottom: 0em;
}
.advantages__container h2 {
  font-family: "PFMonumentaPro";
  font-weight: 500;
  font-size: 1.5625rem;
  margin-bottom: 1.6em;
  line-height: 135%;
  color: #fbf0e6;
}
@media (max-width: 28.4375em) {
  .advantages__container h2 {
    margin-bottom: 1.1111111111em;
    text-align: center;
  }
}
.advantages__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}
@media (max-width: 62em) {
  .advantages__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 47.99875em) {
  .advantages__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.5rem;
  padding: 3rem;
  height: 100%;
  border-radius: 1rem;
  background-color: rgba(19, 19, 19, 0.554);
  border: 1px solid #000;
  -webkit-transform: translate(0px, 50px);
      -ms-transform: translate(0px, 50px);
          transform: translate(0px, 50px);
  opacity: 0;
  visibility: hidden;
}
.advantages__item > *:last-child {
  margin-bottom: 0em;
}
.advantages__item.show {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  visibility: visible;
}
@media (max-width: 62em) {
  .advantages__item {
    padding: 2.1875rem;
    text-align: center;
  }
}
@media (max-width: 47.99875em) {
  .advantages__item {
    padding: 1.25rem;
    text-align: center;
  }
}
.advantages__img {
  max-width: 5rem;
  max-height: 5rem;
  margin-bottom: 1.875em;
  -ms-flex-item-align: center;
      align-self: center;
}
.advantages__img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 80/80;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
.advantages__text {
  color: #fbf0e6;
}
.advantages__text > *:last-child {
  margin-bottom: 0em;
}
.advantages__name {
  font-size: 1.25rem;
  margin-bottom: 0.4em;
}
.advantages__sub-title {
  font-size: 1rem;
  margin-bottom: 0.5em;
  line-height: 135%;
}

.freedom {
  padding: 3.75rem 0rem;
}
@media (max-width: 62em) {
  .freedom {
    padding: 2.5rem 0rem;
  }
}
@media (max-width: 47.99875em) {
  .freedom {
    padding: 1.875rem 0rem;
  }
}
.freedom__container > *:last-child {
  margin-bottom: 0em;
}
.freedom__container h2 {
  font-family: "PFMonumentaPro";
  font-weight: 500;
  font-size: 1.5625rem;
  margin-bottom: 1.6em;
  line-height: 135%;
  text-align: center;
}
@media (max-width: 28.4375em) {
  .freedom__container h2 {
    margin-bottom: 1.1111111111em;
  }
}
.freedom__img {
  margin-bottom: 1.875em;
}
.freedom__img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 650/400;
}
.freedom__title {
  font-size: 1.25rem;
  margin-bottom: 0.75em;
  line-height: 135%;
  font-family: "Inter";
  font-weight: 600;
  text-align: center;
  -webkit-transform: translate(0px, 40px);
      -ms-transform: translate(0px, 40px);
          transform: translate(0px, 40px);
  opacity: 0;
  visibility: hidden;
}
.freedom__title.show {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  visibility: visible;
}
@media (max-width: 28.125em) {
  .freedom__title {
    font-size: 1.125rem;
  }
}
.freedom__sub-title {
  font-size: 1.25rem;
  margin-bottom: 0.75em;
  line-height: 135%;
  font-family: "Inter";
  font-weight: 600;
  text-align: center;
  -webkit-transform: translate(0px, 50px);
      -ms-transform: translate(0px, 50px);
          transform: translate(0px, 50px);
  opacity: 0;
  visibility: hidden;
}
.freedom__sub-title.show {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  visibility: visible;
  -webkit-animation-delay: 1s;
          animation-delay: 1s; /* затримка анімації */
}
@media (max-width: 28.125em) {
  .freedom__sub-title {
    font-size: 1.125rem;
  }
}

.why {
  background-color: #0e0d0d;
  color: #e9e7e6;
  padding: 1.875rem 0rem 3.125rem;
}
@media (max-width: 62em) {
  .why {
    padding: 2.5rem 0rem;
  }
}
@media (max-width: 47.99875em) {
  .why {
    padding: 1.875rem 0rem;
  }
}
.why__container > *:last-child {
  margin-bottom: 0em;
}
.why__container h2 {
  font-family: "PFMonumentaPro";
  font-weight: 500;
  font-size: 1.5625rem;
  margin-bottom: 1.6em;
  line-height: 135%;
  text-align: center;
}
@media (max-width: 28.4375em) {
  .why__container h2 {
    margin-bottom: 1.1111111111em;
  }
}
@media (max-width: 33.75em) {
  .why__container h2 {
    font-size: 1.25rem;
  }
}
.why__container h5 {
  font-family: "PFMonumentaPro";
  font-weight: 500;
  font-size: 1.5625rem;
  margin-bottom: 1.6em;
  line-height: 135%;
  text-align: center;
}
@media (max-width: 28.4375em) {
  .why__container h5 {
    margin-bottom: 1.1111111111em;
  }
}
@media (max-width: 33.75em) {
  .why__container h5 {
    font-size: 1.25rem;
  }
}
.why__text {
  font-family: "Inter";
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0rem -1.25rem;
}
.why__text > *:last-child {
  margin-bottom: 0em;
}
.why__text span {
  color: #d5ae00;
  font-size: 1rem;
  font-family: "Inter";
  font-weight: 500;
}
.why__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0rem 1.25rem;
  -webkit-transform: translate(40px, 40px);
      -ms-transform: translate(40px, 40px);
          transform: translate(40px, 40px);
  opacity: 0;
  visibility: hidden;
}
.why__left p {
  font-size: 1.25rem;
  margin-bottom: 1.5em;
  line-height: 135%;
}
@media (max-width: 74.5em) {
  .why__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
@media (max-width: 33.75em) {
  .why__left {
    font-size: 1.125rem;
  }
}
.why__left.show {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  visibility: visible;
}
.why__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(0px, 40px);
      -ms-transform: translate(0px, 40px);
          transform: translate(0px, 40px);
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 74.5em) {
  .why__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.why__right.show {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  visibility: visible;
}
.why__number {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.why__number > *:last-child {
  margin-bottom: 0em;
}
@media (max-width: 32.5em) {
  .why__number {
    grid-template-columns: repeat(1, 1fr);
  }
}
.why__up {
  text-align: center;
}
.why__up > *:last-child {
  margin-bottom: 0em;
}
.why__up p {
  font-size: 2rem;
  padding: 2rem 4.0625rem;
  line-height: 135%;
  border: 0.0625rem solid rgba(232, 226, 226, 0.596);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.why__up p:hover {
  background-color: #666666;
}
@media (max-width: 79.375em) {
  .why__up p {
    padding: 2rem 3.4375rem;
  }
}
@media (max-width: 74.5em) {
  .why__up p {
    padding: 2rem 9.6875rem;
  }
}
@media (max-width: 59.4375em) {
  .why__up p {
    padding: 2rem 4.6875rem;
  }
}
@media (max-width: 39.4375em) {
  .why__up p {
    padding: 2rem 2.8125rem;
  }
}
@media (max-width: 31.875em) {
  .why__up p {
    padding: 2rem 5.9375rem;
  }
}
.why__down {
  text-align: center;
}
.why__down > *:last-child {
  margin-bottom: 0em;
}
.why__down p {
  border: 0.0625rem solid rgba(232, 226, 226, 0.596);
  font-size: 2rem;
  padding: 2rem 4.0625rem;
  line-height: 135%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.why__down p:hover {
  background-color: #666666;
}
@media (max-width: 74.5em) {
  .why__down p {
    padding: 2rem 9.6875rem;
  }
}
@media (max-width: 59.4375em) {
  .why__down p {
    padding: 2rem 4.6875rem;
  }
}
@media (max-width: 39.4375em) {
  .why__down p {
    padding: 2rem 2.8125rem;
  }
}
@media (max-width: 31.875em) {
  .why__down p {
    padding: 2rem 5.9375rem;
  }
}