@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700,800&display=swap");


/* ======Підключення вручну======= */
/* Шрифт № 1 */
@font-face {
	font-family: 'PFMonumentaPro';
	src:
		url("..//fonts/PFMonumentaPro.woff2") format("woff2"),
		url("..//fonts/PFMonumentaPro.woff") format("woff");
	wont-weight: 400;
	font-style: normal;
	font-display: swap;
}

