@import url("https://fonts.googleapis.com/css?family=Inter:regular&display=swap");


/* ======Підключення вручну======= */
/* Шрифт № 1 */
@font-face {
	font-family: 'Causten-Bold';
	src:
		url("..//fonts/Causten-Bold.woff2") format("woff2"),
		url("..//fonts/Causten-Bold.woff") format("woff");
	wont-weight: 700;
	font-style: normal;
	font-display: swap;
}