@use "sass:math";

// Підключення шрифтів
@import "_fonts.scss";

// Скидання стилів
@import "_reset.scss";

// Функції
@import "_function.scss";

// Компоненти, сторінки
@import "_common.scss";


// Компоненти, сторінки
@import "header.css";

// Компоненти, сторінки
@import "animation.css";





body {
	$colorBody: #0e0d0d;
	$backgroundBody: #fbf0e6;
	font-size: toRem(16);
	$colorP: #fcf9f9;
}



.wrapper {
	overflow: clip;
	min-height: 100%;
	

	display: flex;			//прижимаем футер книзу
	flex-direction: column; //прижимаем футер книзу
}
.wrapper main {
	flex-grow: 1;			//прижимаем футер книзу
}


// для усіх "__container" однаково
[class*="__container"] {
	max-width: 1270px;/* 1240 + 15 + 15 */
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

//SCSS основні стилі 
.hero {
	background: url(../img/2.webp) #1c1b1b;
	background-position: top toRem(150) left toRem(350), 0 0;
	background-repeat: no-repeat, no-repeat;
	background-size:  toRem(500) toRem(800), cover;

	@media(max-width: toEm(1860)) {
		background: url(../img/2.webp) #1c1b1b;
		background-position: top toRem(150) left toRem(300), 0 0;
		background-repeat: no-repeat, no-repeat;
		background-size:  toRem(380) toRem(550), cover;
	}
	@media(max-width: toEm(1100)) {
		background: url(../img/2.webp) #1c1b1b;
		background-position: center left toRem(250), 0 0;
		background-repeat: no-repeat, no-repeat;
		background-size:  toRem(0) toRem(0), cover;
	}
	//mask-image: radial-gradient(#000, transparent);  /* круговой градиент из центра от непрозрачного к прозрачному */

	padding: toRem(8) toRem(0) toRem(1.25);
	height: 100svh;

	display: flex;
	align-items: center;

	// .hero__container
	&__container {
		display: grid; 		// пишемо 'ДЛЯ ВИРІВНЮВАННЯ КОНТЕНТУ' у картці право-центр-ліво
		width: 100%;
	}

	&__content {
		padding: toRem(20);
		& > *:last-child {
			margin-bottom: toEm(0);
		}
		@media(max-width: toEm(1100)) {
			justify-self: center;	 // пишемо 'ДЛЯ ВИРІВНЮВАННЯ КОНТЕНТУ' у картці право-центр-ліво
		}
		@media(max-width: toEm(340)) {
			padding: toRem(0);
		}
		//background-color: #1c1b1b;

		justify-self: end;	 // пишемо 'ДЛЯ ВИРІВНЮВАННЯ КОНТЕНТУ' у картці право-центр-ліво
		align-self: end;

		& h1 {
			font-size: toRem(50);
			text-transform: uppercase;
			font-family: 'PFMonumentaPro';
			text-align: center;
			color: $backgroundBody;
			padding: toRem(20);
			justify-self: center;
			@media(max-width: toEm(460)) {
				margin-bottom: toEm(10);
			}
			@media(max-width: toEm(460)) {
				margin-bottom: toEm(25);
			}
			@media(max-width: toEm(415)) {
				font-size: toRem(40);
				margin-bottom: toEm(25);
			}
			@media(max-width: toEm(375)) {
				padding: toRem(5);
				margin-bottom: toEm(40);
			}
			@media(max-width: toEm(340)) {
				margin-bottom: toEm(25);
			}
	//-------anime-----------
		animation-name: blink-2; /* приєднали сценарій */
		animation-delay: 0.6s; /* затримка анімації */
		animation-duration: 2.5s; /* встановили час тривалості сценарію */
		animation-timing-function: linear;/* плавність */
		animation-iteration-count: 1;/* infinite -нескінченне */ /* або 1, 2, 3... */  /* кіл-сть повторень анімації */
		animation-direction: alternate /* reverse */ /* alternate-reverse */; /* напрямок анімації - ця в зворотньому */
		/*animation-play-state: running; /* запустили - це за замовченням, а при hover:paused, none; */ 
		animation-fill-mode: backwards /* у кінцевому положенні*/ /* backwards - у початковому положенні */;
	//-------anime-----------
		}
	}

	// .hero__img (1)
	&__img {
		max-width: toRem(450); 	//задаем ширину обьекту-оболочке
		@media(max-width: toEm(815)) {
			max-width: 100%;
			aspect-ratio: 200 / 70;
		}
		@media(max-width: toEm(600)) {
			max-width: 100%;
			aspect-ratio: 150 / 70;
		}
		@media(max-width: toEm(600)) {
			max-width: 100%;
			aspect-ratio: 100 / 70;
		}
//-------anime-----------
			animation-name: blink-2; /* приєднали сценарій */
			animation-delay: 0,5s; /* затримка анімації */
			animation-duration: 2.5s; /* встановили час тривалості сценарію */
			animation-timing-function: linear;/* плавність */
			animation-iteration-count: 1;/* infinite -нескінченне */ /* або 1, 2, 3... */  /* кіл-сть повторень анімації */
			animation-direction: alternate /* reverse */ /* alternate-reverse */; /* напрямок анімації - ця в зворотньому */
			/*animation-play-state: running; /* запустили - це за замовченням, а при hover:paused, none; */ 
			animation-fill-mode: backwards /* у кінцевому положенні*/ /* backwards - у початковому положенні */;
//-------anime-----------
	}
	&__img img {
		width: 100%;
		height: 100%;
		aspect-ratio: 200 /150;	 //задаем высоту фото
		object-fit: contain;
		padding: toRem(20);
		justify-self: start;	 // пишемо 'ДЛЯ ВИРІВНЮВАННЯ КОНТЕНТУ' у картці право-центр-ліво

		@media(max-width: toEm(450)) {
			aspect-ratio: 100 / 70;
		}
		@media(max-width: toEm(400)) {
			margin-bottom: toEm(30);
		}
		@media(max-width: toEm(375)) {
			aspect-ratio: 90 / 80;
			padding: toRem(5);
		}
		@media(max-width: toEm(375)) {
			margin-bottom: toEm(50);
		}
	}

	// .hero__scales (2)
	&__scales {
		max-width: toRem(450); 		//задаем ширину обьекту-оболочке
		@media(max-width: toEm(815)) {
			max-width: 100%;
			aspect-ratio: 250 / 100;
		}
//-------anime-----------
			animation-name: blink-2; /* приєднали сценарій */
			animation-delay: 1.2s; /* затримка анімації */
			animation-duration: 2.5s; /* встановили час тривалості сценарію */
			animation-timing-function: linear;/* плавність */
			animation-iteration-count: 1;/* infinite -нескінченне */ /* або 1, 2, 3... */  /* кіл-сть повторень анімації */
			animation-direction: alternate /* reverse */ /* alternate-reverse */; /* напрямок анімації - ця в зворотньому */
			/*animation-play-state: running; /* запустили - це за замовченням, а при hover:paused, none; */ 
			animation-fill-mode: backwards /* forwards у кінцевому положенні*/ /* backwards - у початковому положенні */;
//-------anime-----------
	}
	&__scales img {
		width: 100%;
		height: 100%;
		aspect-ratio: 200 / 100;	 //задаем высоту фото
		object-fit: contain;
		padding: toRem(20);
		justify-self: start;	 // пишемо 'ДЛЯ ВИРІВНЮВАННЯ КОНТЕНТУ' у картці право-центр-ліво

		@media(max-width: toEm(604)) {
			aspect-ratio: 350 / 100;
		}
		@media(max-width: toEm(375)) {
			padding: toRem(5);
		}
	}
}


//--------------------------about--------------------
.about {
	padding: toRem(80) toRem(0) toRem(80);
	background-image: url(../img/20.webp);
	background-position: center left;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	flex-direction: column;
	@media(max-width: toEm(767.98)) {
		padding: toRem(30) toRem(0);
	}
	@media(max-width: toEm(540)) {
		padding: toRem(25) toRem(0);
	}
	@media(max-width: toEm(400)) {
		padding: toRem(15) toRem(0) toRem(25);
	}

	// .about__container
	&__container {
		max-width: toRem(900);
		background-color: #fbf0e638;
		padding: toRem(50);
//---------javaScript----animation---------
		transform: translate(0px, 30px);
		opacity: 0;
		visibility: hidden;
			&.show {
				transition: all 0.6s;
				transform: translate(0px, 0px);
				opacity: 1;
				visibility: visible;
			}
//---------javaScript----animation---------
		@media(max-width: toEm(540)) {
			padding: toRem(20);
		}
		& > *:last-child {
			margin-bottom: 0;
		}
		& h2 {
			font-family: 'PFMonumentaPro';
			font-size: toRem(25);
			margin-bottom: toEm(40, 25);
			line-height: 135%;
			text-align: center;
			@media(max-width: toEm(450)) {
				margin-bottom: toEm(20, 20);
			}
		}
		& p {
			font-size: toRem(20);
			margin-bottom: toEm(20);
			text-align: center;
			margin-bottom: toEm(15);
			line-height: 135%;
			text-align: center;
		}
	}

	// .about__text
	&__text {
		& > *:last-child {
			margin-bottom: 0;
		}
		font-size: toRem(20);
		margin-bottom: toEm(30);
	}
	& p {
		margin-bottom: toEm(15);
		line-height: 135%;
		text-align: center;
	}
	& span {
		 text-decoration: underline;
		 font-weight: 600;
	}
}



//-----------------------------------------------------------
.team {
	background-color: #0e0d0d;
	padding: toRem(80) toRem(0);
	@media(max-width: toEm(992)) {
		padding: toRem(40) toRem(0);
	}
	@media(max-width: toEm(767.98)) {
		padding: toRem(30) toRem(0);
	}

	// .team__container
	&__container {
		& h3 {
			text-align: center;
			font-family: 'PFMonumentaPro';
			font-size: toRem(35);
			margin-bottom: toEm(50, 35);
			line-height: 135%;
			color: #f4d694;
			font-weight: 700;
			line-height: 135%;
			text-shadow: toRem(1) toRem(1) 0 rgba(0, 0, 0, 1),
			toRem(-1) toRem(-1) toRem(0) rgba(255, 220, 0, 1);
			@media(max-width: toEm(450)) {
				font-size: toRem(25);
			}
			@media(max-width: toEm(410)) {
				margin-bottom: toEm(30, 25);
			}
			@media(max-width: toEm(380)) {
				margin-bottom: toEm(20, 25);
			}
		}
	}
	// .team__cards
	&__cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: toRem(20);
		@media(max-width: toEm(992)) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media(max-width: toEm(700)) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	// .team__item
	&__item {
		& > *:last-child{
			margin-bottom: toEm(0);
		}
		position: relative;		//позіціонуємо плашку при наведені на картку
		overflow: hidden;
		
		padding: toRem(30) toRem(30) toRem(0);
		border-radius: toRem(50);
		border: toRem(5) solid rgba(180, 157, 10, 0.67);

		background-image: url(../img/Frame\ 31.webp);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: cover;


		&::before {					// створили плашку при наведені на картку
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: #c8c8c881;
			//transform: translate(0px, 0px);   // так тоже класно виходить 
			transform: translate(0, -100%); 
			transition: 0.7s;
			opacity: 0.5;
			z-index: 1;
			
		}
		&:hover::before {
			// transform: translate(-100%, 0px); // так тоже класно виходить 
			transform: translate(toRem(0), toRem(0)); 
		}
}
	

	//__right
	&__right {
		& > *:last-child{
			margin-bottom: toEm(0);
		}
		display: flex;
		justify-content: space-between;
		@media(max-width: toEm(992)) {
		  flex-wrap: wrap;
		  justify-content: center;
		  align-items: center;
		}
	}

	//__text 
	&__text {
		flex: 0 1 50%;
		@media(max-width: toEm(992)) {
			flex: 0 1 30%;
		}
	}

	// .team__title
	&__title {
		padding: toRem(15);
		color: #0e0d0d;
		text-align: center;
		font-size: toRem(25);
		font-family: 'Inter';
		font-weight: 800;
		line-height: 135%;
		letter-spacing: toRem(1.5);
		@media(max-width: toEm(600)) {
			font-size: toRem(20);
		}
		@media(max-width: toEm(350)) {
			font-size: toRem(18);
		}
	}

	// .team__foto
	&__foto {
		flex: 0 1 50%;
		@media(max-width: toEm(992)) {
			flex: 0 1 70%;
		}
	}
	&__foto img {
		width: 100%;
		height: 100%;
		aspect-ratio: 70 / 50;
		object-fit: contain;
		@media(max-width: toEm(992)) {
			aspect-ratio: 250 / 300;
		}
		@media(max-width: toEm(450)) {
			aspect-ratio: 200 / 300;
		}
		@media(max-width: toEm(320)) {
			aspect-ratio: 200 / 300;
		}
	}

	// .team__name
	&__name {
		color: #0e0d0d;
		text-align: center;
		font-size: toRem(25);
		margin-bottom: toEm(20, 25);
		font-family: 'Inter';
		font-weight: 700;
		line-height: 130%;
		@media(max-width: toEm(430)) {
			margin-bottom: toEm(15, 20);
		}
	}

	//__icons
	&__icons {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: toRem(10);
		text-align: center;
		@media(max-width: toEm(992)) {
			grid-template-columns: repeat(4, 1fr);
			text-align: center;
		}
		@media(max-width: toEm(808)) {
			grid-template-columns: repeat(3, 1fr);
			text-align: center;
		}
		@media(max-width: toEm(767.98)) {
			grid-template-columns: repeat(4, 1fr);
			text-align: center;
		}
		@media(max-width: toEm(700)) {
			grid-template-columns: repeat(4, 1fr);
			text-align: center;
		}
	}
	// .team__icon
	&__icon {
		padding: toRem(5);	
		@media(max-width: toEm(992)) {
			padding: toRem(10);	
		}
		@media(max-width: toEm(450)) {
			padding: toRem(5);	
		}
	}
	&__icon img {
		width: toRem(60);
		height: toRem(60);
		aspect-ratio: 250 / 30;
		object-fit: contain;
		@media(max-width: toEm(882)) {
			width: toRem(50);
			height: toRem(50);
		}
		@media(max-width: toEm(700)) {
			width: toRem(60);
			height: toRem(60);
		}
		@media(max-width: toEm(430)) {
			width: toRem(40);
			height: toRem(40);
		}
	}
	//__cod 
	&__cod {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		font-size: toRem(30);
		font-family: 'PFMonumentaPro';
		font-weight: 700;
		padding: toRem(50);
		z-index: 2;
		line-height: 130%;
		text-align: center;
		visibility: hidden;			//ховаємо елементtr
	}
		&__item:hover &__cod {
			visibility: visible;	//показали елемент
			background-color: rgb(232, 182, 17);
			opacity: 1;
			transition: 0.7s;
		}
	
}



//------------------------servises-------------------------
.servises {
	padding: toRem(80) toRem(0) toRem(20);
	background-image: url(../img/012.webp);
	background-repeat: no-repeat;
	background-position: center right;
	background-size: contain;
	@media(max-width: toEm(992)) {
		padding: toRem(40) toRem(0);
	}
	@media(max-width: toEm(767.98)) {
		padding: toRem(30) toRem(0);
	}
	& h2 {
		font-family: 'PFMonumentaPro';
		font-weight: 500;
		font-size: toRem(25);
		margin-bottom: toEm(40, 25);
		line-height: 135%;
		max-width: toRem(1270);
		margin: 0 auto;
		text-align: center;
		padding: toRem(20);
		@media(max-width: toEm(450)) {
			text-align: center;
			font-size: toRem(18);
		}
	}
	// .servises__container
	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: toRem(20);
		@media(max-width: toEm(992)) {
			grid-template-columns: repeat(1, 1fr);
		}
		& > *:last-child{
			margin-bottom: toEm(0);
		}


		//----------------------------------horizont-line---------burger------------------------------
.horizont-line{
	display: flex;				//---------------для horizont-line---------burger-----------------
	justify-content: center;	//---------------для horizont-line---------burger-----------------
	align-items: center;		//---------------для horizont-line---------burger-----------------
	text-align: center;
	
	display: block;
	width: 30px;
	flex: 0 0 30px;
	height: 18px;
	position: relative;
	z-index: 5;
  
	&::before, &::after {
	  content: "";
	  height: 18px;
	  width: 2px;
	  position: absolute;
	  top: 0;
	  left: 0;
	  transform: rotate(90deg);
	  background-color: #ffffff;
	  margin-top: -1px;
	transition: all 0.3s;
	}
  
	&::before {
	  top: 0;
	}
  
	&::after {
	  top: rotate(45deg);
	  transform: rotate(0deg);
	}
  
  .line-open & {
	&::before, &::after {
	  transform: rotate(0deg);
	  top: 0;
	  background-color: blue;
	}
  
	&::before {
	  transform: rotate(45deg);
	  margin-bottom: -1px;
	}
  
	&::after {
	  transform: rotate(-225deg);
	  margin-bottom: -1px;
	}
	}
  } 
  //----------------------------------horizont-line---------burger------------------------------
	}

	// .servises__text
	&__text {
		max-width: toRem(900);
		background-color: #e4e4e338;;
		padding: toRem(20);
		& > *:last-child{
			margin-bottom: toEm(0);
		}
		& p {
			font-size: toRem(20);
			margin-bottom: toEm(15, 20);
			line-height: 160%;
			font-family: 'Inter';
			font-weight: 600;
			@media(max-width: toEm(450)) {
				font-size: toRem(18);
			}
			display: flex;
			gap: toRem(10);
			&::before {
				content: "";
				display: inline-block;
				width: toRem(6);
				height: toRem(12);
				flex: 0 0 toRem(6);
				background-color: #f4d694;
				transform: translateY(toRem(8));
				border-radius: toRem(10);
				transition: 0.4s;
				border: toRem(1) solid transparent;
			}
				&:hover::before {
					background-color: #1c1b1b;
					border: toRem(1) solid #f4d694;
				}
			
		}
	}
}



//-----------------------------------------------------------------
.questions {
	padding: toRem(60) toRem(0);
	@media(max-width: toEm(992)) {
		padding: toRem(40) toRem(0);
	}
	@media(max-width: toEm(767.98)) {
		padding: toRem(30) toRem(0);
	}
	//__body {
		&__body {
			& > *:last-child{
				margin-bottom: toEm(0);
			}
		}
		// .questions__container
		&__container {
			& > *:last-child{
				margin-bottom: toEm(0);
			}
			& h2 {
				font-family: 'PFMonumentaPro';
				font-weight: 500;
				font-size: toRem(25);
				margin-bottom: toEm(40, 25);
				line-height: 135%;
				@media(max-width: toEm(455)) {
					margin-bottom: toEm(20, 18);
					text-align: center;
				}
			}
		}

//----------------------------------spoiler------------------------------
		// .questions__spoiler
		&__spoiler {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;			//кнопка слева теперь
			align-items: flex-start;				//кнопка слева теперь
			margin-bottom: toRem(20);
			& > *:last-child{
				margin-bottom: toEm(0);
			}

//---------javaScript-----------------------animation---------
		transform: translate(60px, 60px);
		opacity: 0;
		visibility: hidden;
			&.show {
				transition: all 0.6s;
				transform: translate(0px, 0px);
				opacity: 1;
				visibility: visible;
			}
//---------javaScript-----------------------animation---------
		}

		&__title {		//------------текст----------------
			font-family: 'Inter';
			font-size: toRem(18);
			margin-bottom: toEm(15, 18);
			line-height: 135%;
			display: none;					//для текста под кнопкой
				&.open {
					display: block;			//для текста под кнопкой
				}
			}

//__toggle ----------(button)-----------------кнопка------------(-js-)---------------------
			&__toggle {
				display: flex;				//---------------для horizont-line---------burger-----------------
				justify-content: space-between;	//---------------для horizont-line---------burger-----------------
				align-items: center;		//---------------для horizont-line---------burger-----------------
				column-gap: toRem(20);
				@media(max-width: toEm(500)) {
					text-align: left;
				}

				background-color: #0e0e0d;
				color: #fbf0e6;
				font-size: toRem(18);
				padding: toRem(15);
				line-height: 135%;
				border: toRem(1) solid transparent;
				margin-bottom: toEm(20);
				transition: 0.5s;
				&:hover {
					background-color: #d5ae00;
					border: toRem(1) solid #0e0d0d;
					color: #0e0d0d;
				}
			}
//----------------------------------spoiler------------------------------

}






//-------------------------------------advantages--------------------------------------------------
.advantages {
	padding: toRem(80) toRem(0);
	background-image: url(../img/fon.webp);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: contain;
	@media(max-width: toEm(992)) {
		padding: toRem(40) toRem(0);
	}
	@media(max-width: toEm(767.98)) {
		padding: toRem(30) toRem(0);
	}
	// .advantages__container
	&__container {
		& > *:last-child{
			margin-bottom: toEm(0);
		}
		& h2 {
			font-family: 'PFMonumentaPro';
			font-weight: 500;
			font-size: toRem(25);
			margin-bottom: toEm(40, 25);
			line-height: 135%;
			color: #fbf0e6;
			@media(max-width: toEm(455)) {
				margin-bottom: toEm(20, 18);
				text-align: center;
			}
		}
	}

	// .advantages__cards
	&__cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: toRem(20);
		@media(max-width: toEm(992)) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media(max-width: toEm(767.98)) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	// .advantages__item
	&__item {
		& > *:last-child{
			margin-bottom: toEm(0);
		}
		display: flex;
		flex-direction: column;
		row-gap: toRem(24);
		padding: toRem(48);
		height: 100%;
		border-radius: toRem(16);
		background-color: rgba(19, 19, 19, 0.554);
		border: 1px solid #000;

//---------javaScript----animation---------
		transform: translate(0px, 50px);
		opacity: 0;
		visibility: hidden;

		&.show {
			transition: all 0.7s;
			transform: translate(0px, 0px);
			opacity: 1;
			visibility: visible;
		}
//---------javaScript----animation---------

		@media(max-width: toEm(992)) {
			padding: toRem(35);
			text-align: center;
		}
		@media(max-width: toEm(767.98)) {
			padding: toRem(20);
			text-align: center;
		}
	}


	// .advantages__img
	&__img {
		max-width: toRem(80);
		max-height: toRem(80);
		margin-bottom: toEm(30);
		align-self: center;
		
	}
	
	&__img img {
		width: 100%;
		height: 100%;
		aspect-ratio: 80 / 80;
		object-fit: contain;
		filter: brightness(0) invert(1);		//была черная - стала иконка белая
	}

	//__text {
	&__text {
		color: #fbf0e6;
		& > *:last-child{
			margin-bottom: toEm(0);
		}
		}
	// .advantages__name
	&__name {
		font-size: toRem(20);
		margin-bottom: toEm(8, 20);
	}

	// .advantages__sub-title
	&__sub-title {
		font-size: toRem(16);
		margin-bottom: toEm(8, 16);
		line-height: 135%;
	}
}







//--------------------------------------------------freeedom------------------------------------------
.freedom {
	padding: toRem(60) toRem(0);
	@media(max-width: toEm(992)) {
		padding: toRem(40) toRem(0);
	}
	@media(max-width: toEm(767.98)) {
		padding: toRem(30) toRem(0);
	}
		// .questions__container
		&__container {
			& > *:last-child{
				margin-bottom: toEm(0);
			}
			& h2 {
				font-family: 'PFMonumentaPro';
				font-weight: 500;
				font-size: toRem(25);
				margin-bottom: toEm(40, 25);
				line-height: 135%;
				text-align: center;
				@media(max-width: toEm(455)) {
					margin-bottom: toEm(20, 18);
				}
			}
		}

		//__content {
			&__content {
				& > *:last-child{
					margin-bottom: toEm(0);
				}
			}

	// .freedom__img
	&__img  {
		margin-bottom: toEm(30);
	}
	&__img img {
		width: 100%;
		height: 100%;
		aspect-ratio: 650 / 400;

		&__img img::before {
			/*------------------------------------- полоска с прозрачными краями---------------------------*/
						
						background: -moz-linear-gradient(left, rgba(245, 247, 248, 0) 0%, rgba(240, 246, 245, 0.02) 1%, rgba(0,0,0,1) 50%, rgba(30,87,153,0) 100%); /* FF3.6+ */
						background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,87,153,0)), color-stop(1%,rgba(30,87,153,0.02)), color-stop(50%,rgba(0,0,0,1)), color-stop(100%,rgba(30,87,153,0))); /* Chrome,Safari4+ */
						background: -webkit-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(30,87,153,0.02) 1%,rgba(0,0,0,1) 50%,rgba(30,87,153,0) 100%); /* Chrome10+,Safari5.1+ */
						background: -o-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(30,87,153,0.02) 1%,rgba(0,0,0,1) 50%,rgba(30,87,153,0) 100%); /* Opera 11.10+ */
						background: -ms-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(30,87,153,0.02) 1%,rgba(0,0,0,1) 50%,rgba(30,87,153,0) 100%); /* IE10+ */
						background: linear-gradient(to right, rgba(30,87,153,0) 0%,rgba(30,87,153,0.02) 1%,rgba(0,0,0,1) 50%,rgba(30,87,153,0) 100%); /* W3C */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799',GradientType=1 ); /* IE6-9 */ 
					}
			/*-------------------------------------полоска с прозрачными краями--------------------------- */
	}

	// .freedom__title
	&__title {
		font-size: toRem(20);
		margin-bottom: toEm(15, 20);
		line-height: 135%;
		font-family: 'Inter';
		font-weight: 600;
		text-align: center;
//---------javaScript----animation---------
		transform: translate(0px, 40px);
		opacity: 0;
		visibility: hidden;
			&.show {
				transition: all 0.8s;
				transform: translate(0px, 0px);
				opacity: 1;
				visibility: visible;
			}
//---------javaScript----animation---------
		@media(max-width: toEm(450)) {
			font-size: toRem(18);
		}
	}

	// .freedom__sub-title
	&__sub-title {
		font-size: toRem(20);
		margin-bottom: toEm(15, 20);
		line-height: 135%;
		font-family: 'Inter';
		font-weight: 600;
		text-align: center;
//---------javaScript----animation---------
		transform: translate(0px, 50px);
		opacity: 0;
		visibility: hidden;
			&.show {
				transition: all 0.8s;
				transform: translate(0px, 0px);
				opacity: 1;
				visibility: visible;
				animation-delay: 1s; /* затримка анімації */
			}
//---------javaScript----animation---------
		@media(max-width: toEm(450)) {
			font-size: toRem(18);
		}
	}
}



//---------------------------why-------------------------------
.why {
	background-color: #0e0d0d;
	color: #e9e7e6;
	padding: toRem(30) toRem(0) toRem(50) ;
	@media(max-width: toEm(992)) {
		padding: toRem(40) toRem(0);
	}
	@media(max-width: toEm(767.98)) {
		padding: toRem(30) toRem(0);
	}
	// .why__container
	&__container {
		& > *:last-child{
			margin-bottom: toEm(0);
		}
		& h2 {
			font-family: 'PFMonumentaPro';
			font-weight: 500;
			font-size: toRem(25);
			margin-bottom: toEm(40, 25);
			line-height: 135%;
			text-align: center;
			@media(max-width: toEm(455)) {
				margin-bottom: toEm(20, 18);
			}
			@media(max-width: toEm(540)) {
				font-size: toRem(20);
			}
		}
		& h5 {
			font-family: 'PFMonumentaPro';
			font-weight: 500;
			font-size: toRem(25);
			margin-bottom: toEm(40, 25);
			line-height: 135%;
			text-align: center;
			@media(max-width: toEm(455)) {
				margin-bottom: toEm(20, 18);
			}
			@media(max-width: toEm(540)) {
				font-size: toRem(20);
			}
		}
	}
	&::after{
		content: "";
		transform: translateY(toRem(20));
		display: block;
		max-width: toRem(950);
		margin: 0 auto;
		width: 80%;
		height: toRem(1);
		background: -moz-linear-gradient(left, rgba(30,87,153,0) 0%, rgba(30,87,153,0.02) 1%, rgba(0,0,0,1) 50%, rgba(30,87,153,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,87,153,0)), color-stop(1%,rgba(30,87,153,0.02)), color-stop(50%,rgba(0,0,0,1)), color-stop(100%,rgba(30,87,153,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(30,87,153,0.02) 1%,rgba(0,0,0,1) 50%,rgba(30,87,153,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(30,87,153,0.02) 1%,rgba(0,0,0,1) 50%,rgba(30,87,153,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(30,87,153,0.02) 1%,rgba(0,0,0,1) 50%,rgba(30,87,153,0) 100%); /* IE10+ */
		background: linear-gradient(to right, rgba(30,87,153,0) 0%,rgba(30,87,153,0.02) 1%,rgba(0,0,0,1) 50%,rgba(30,87,153,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799',GradientType=1 ); /* IE6-9 */
	}

	// .why__text
	&__text {
		& > *:last-child{
			margin-bottom: toEm(0);
		}
		font-family: 'Inter';
		font-weight: 500;
		display: flex;
		flex-wrap: wrap;		
		margin: toRem(0) toRem(-20);
		& span {
			color: #d5ae00;
			font-size: toRem(16);
			font-family: 'Inter';
			font-weight: 500;
		}
	}

	// .why__left
	&__left {
		flex:0 1 50%;
		padding: toRem(0) toRem(20);
		& p {
			font-size: toRem(20);
			margin-bottom: toEm(30, 20);
			line-height: 135%;
	}
	@media(max-width: toEm(1192)) {
		flex:0 1 100%;
	}
	@media(max-width: toEm(540)) {
		font-size: toRem(18);
	}
//---------javaScript----animation---------
	transform: translate(40px, 40px);
	opacity: 0;
	visibility: hidden;
		&.show {
			transition: all 0.8s;
			transform: translate(0px, 0px);
			opacity: 1;
			visibility: visible;
		}
//---------javaScript----animation---------
}
	// .why__right
	&__right {
		flex: 0 1 50%;
		padding: toRem(0) toRem(20);
		display: flex;
		justify-content: center;
		align-items: center;
		@media(max-width: toEm(1192)) {
			flex:0 1 100%;
		}
//---------javaScript----animation---------
		transform: translate(0px, 40px);
		opacity: 0;
		visibility: hidden;
			&.show {
				transition: all 0.8s;
				transform: translate(0px, 0px);
				opacity: 1;
				visibility: visible;
			}
//---------javaScript----animation---------
	}

	// .why__number
	&__number {
		& > *:last-child{
			margin-bottom: toEm(0);
		}
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@media(max-width: toEm(520)) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	// .why__up
	&__up {
		& > *:last-child{
			margin-bottom: toEm(0);
		}
		text-align: center;
		& p {
		font-size: toRem(32);
		padding: toRem(32) toRem(65);
		line-height: 135%;
		border: toRem(1) solid rgba(232, 226, 226, 0.596);
		transition: 0.5s;
		&:hover {
			background-color: #666666;
		}
		@media(max-width: toEm(1270)) {
			padding: toRem(32) toRem(55);
		}
		@media(max-width: toEm(1192)) {
			padding: toRem(32) toRem(155);
		}
		@media(max-width: toEm(951)) {
			padding: toRem(32) toRem(75);
		}
		@media(max-width: toEm(631)) {
			padding: toRem(32) toRem(45);
		}
		@media(max-width: toEm(510)) {
			padding: toRem(32) toRem(95);
		}
		}
	}

	// .why__down
	&__down {
		& > *:last-child{
			margin-bottom: toEm(0);
		}
		text-align: center;
		& p {
		border: toRem(1) solid rgba(232, 226, 226, 0.596);
		font-size: toRem(32);
		padding: toRem(32) toRem(65);
		line-height: 135%;
		transition: 0.5s;
		&:hover {
			background-color: #666666;
		}
		@media(max-width: toEm(1192)) {
			padding: toRem(32) toRem(155);
		}
		@media(max-width: toEm(951)) {
			padding: toRem(32) toRem(75);
		}
		@media(max-width: toEm(631)) {
			padding: toRem(32) toRem(45);
		}
		@media(max-width: toEm(510)) {
			padding: toRem(32) toRem(95);
		}
		}
	}
}



//----------------------------------------------------footer-----------------------------------
.footer {
	background-color: #0e0d0d;
	color: #e9e7e6;
	padding: toRem(80) toRem(20) toRem(50) ;
	@media(max-width: toEm(992)) {
		padding: toRem(40) toRem(0);
	}
	@media(max-width: toEm(767.98)) {
		padding: toRem(30) toRem(0);
	}


	// .footer__container
	&__container {
		& > *:last-child{
			margin-bottom: toEm(0);
		}
		& h2, h3 {
			font-family: 'PFMonumentaPro';
			font-weight: 500;
			font-size: toRem(25);
			margin-bottom: toEm(40, 25);
			line-height: 135%;
			text-align: center;
			@media(max-width: toEm(455)) {
				margin-bottom: toEm(20, 18);
			}
			@media(max-width: toEm(540)) {
				font-size: toRem(20);
			}
		}
	}

	// .footer__body
	&__body {
		& > *:last-child{
			margin-bottom: toEm(0);
		}
	}


	// .footer__cards
	&__cards {
		display: grid;
		grid-template-columns: repeat(3,1fr);
		gap: toRem(20);
		@media(max-width: toEm(1235)) {
			grid-template-columns: repeat(2,1fr);
		}
		@media(max-width: toEm(767)) {
			grid-template-columns: repeat(1,1fr);
		}}
		&::after{
			content: "";
			transform: translateY(toRem(20));
			display: block;
			max-width: toRem(950);
			margin: 0 auto;
			width: 80%;
			width: 100%;
			height: toRem(1);
			background: -moz-linear-gradient(left, rgba(30, 87, 153, 0) 0%, rgba(30,87,153,0.02) 1%, rgba(0,0,0,1) 50%, rgba(30,87,153,0) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,87,153,0)), color-stop(1%,rgba(30,87,153,0.02)), color-stop(50%,rgba(0,0,0,1)), color-stop(100%,rgba(30,87,153,0))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(30,87,153,0.02) 1%,rgba(0,0,0,1) 50%,rgba(30,87,153,0) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(30,87,153,0.02) 1%,rgba(0,0,0,1) 50%,rgba(30,87,153,0) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(30,87,153,0.02) 1%,rgba(0,0,0,1) 50%,rgba(30,87,153,0) 100%); /* IE10+ */
			background: linear-gradient(to right, rgba(30,87,153,0) 0%,rgba(30,87,153,0.02) 1%,rgba(0,0,0,1) 50%,rgba(30,87,153,0) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799',GradientType=1 ); /* IE6-9 */
		}
	

		// .footer___item
		&__item {
			& > *:last-child{
				margin-bottom: toEm(0);
			}
		}


	// .footer__tel
	&__tel {
		& > *:last-child{
			margin-bottom: toEm(0);
		}
		margin-bottom: toEm(30);
		& a {
			display: block;
			display: flex;
			align-items: center;
		}
		& p {
			font-size: toRem(20);
			margin-bottom: toEm(20, 20);
			font-family: 'Inter';
			font-weight: 600;
		}
		display: flex;
		flex-direction: column;
		gap: toRem(15);
		font-size: toRem(20);
		margin-bottom: toEm(20, 20);
		font-family: 'Inter';
		font-weight: 600;
	}
	&__tel-block {
		& > *:last-child{
			margin-bottom: toEm(0);
		}
		display: flex;
		justify-content: flex-start;
		gap: toRem(15);
		& img{
			width: toRem(30);
			height: toRem(30);
			aspect-ratio: 30 /30; 
			object-fit: cover;
			transition: 0.5s;

//----------------anime--------------------
	animation-name: trans; /* приєднали сценарій */
	animation-delay: 0s; /* затримка анімації */
	animation-duration: 3s; /* встановили час тривалості сценарію */
	animation-timing-function: linear;/* плавність */
	animation-iteration-count: infinite;/* infinite -нескінченне */ /* або 1, 2, 3... */  /* кіл-сть повторень анімації */
	animation-direction: alternate /* reverse */ /* alternate-reverse */; /* напрямок анімації - ця в зворотньому */
	/*animation-play-state: running; /* запустили - це за замовченням, а при hover:paused, none; */ 
	animation-fill-mode: forwards /* у кінцевому положенні*/ /* backwards - у початковому положенні */;
//----------------anime--------------------
		}
	}

	// .footer__join
	&__join {
		& > *:last-child{
			margin-bottom: toEm(0);
		}
		margin-bottom: toEm(30);
		& p {
			font-size: toRem(20);
			margin-bottom: toEm(20, 20);
			font-family: 'Inter';
			font-weight: 600;
		}
	}
	&__icons {
		display: flex;
		justify-content: flex-start;
		gap: toRem(15);
	}
	&__icons img{
		width: toRem(30);
		height: toRem(30);
		aspect-ratio: 30 /30; 
		object-fit: contain;

//----------------anime--------------------
	animation-name: wave; /* приєднали сценарій */
	animation-delay: 0.1s; /* затримка анімації */
	animation-duration: 1s; /* встановили час тривалості сценарію */
	animation-timing-function: linear;/* плавність */
	animation-iteration-count: infinite;/* infinite -нескінченне */ /* або 1, 2, 3... */  /* кіл-сть повторень анімації */
	animation-direction: alternate /* reverse */ /* alternate-reverse */; /* напрямок анімації - ця в зворотньому */
	/*animation-play-state: running; /* запустили - це за замовченням, а при hover:paused, none; */ 
	animation-fill-mode: forwards /* у кінцевому положенні*/ /* backwards - у початковому положенні */;
//----------------anime--------------------
	}
	& > *:not(:last-child) {
		margin-right: toRem(20);
	}
	
	&__icons img:nth-child(2) {
//----------------anime--------------------
	animation-name: wave; /* приєднали сценарій */
	animation-delay: 0.4s; /* затримка анімації */
	animation-duration: 1s; /* встановили час тривалості сценарію */
	animation-timing-function: linear;/* плавність */
	animation-iteration-count: infinite;/* infinite -нескінченне */ /* або 1, 2, 3... */  /* кіл-сть повторень анімації */
	animation-direction: alternate /* reverse */ /* alternate-reverse */; /* напрямок анімації - ця в зворотньому */
	/*animation-play-state: running; /* запустили - це за замовченням, а при hover:paused, none; */ 
	animation-fill-mode: forwards /* у кінцевому положенні*/ /* backwards - у початковому положенні */;
//----------------anime--------------------
	}

	&__icons img:nth-child(3) {
//----------------anime--------------------
			animation-name: wave; /* приєднали сценарій */
			animation-delay: 0.6s; /* затримка анімації */
			animation-duration: 1s; /* встановили час тривалості сценарію */
			animation-timing-function: linear;/* плавність */
			animation-iteration-count: infinite;/* infinite -нескінченне */ /* або 1, 2, 3... */  /* кіл-сть повторень анімації */
			animation-direction: alternate /* reverse */ /* alternate-reverse */; /* напрямок анімації - ця в зворотньому */
			/*animation-play-state: running; /* запустили - це за замовченням, а при hover:paused, none; */ 
			animation-fill-mode: forwards /* у кінцевому положенні*/ /* backwards - у початковому положенні */;
//----------------anime--------------------
	}

	// .footer__mail
	&__mail {
		& > *:last-child{
			margin-bottom: toEm(0);
		}
		margin-bottom: toEm(30);
		& p {
			font-size: toRem(20);
			margin-bottom: toEm(20, 20);
			font-family: 'Inter';
			font-weight: 600;
			align-items: center;
		}
	}
		&__mail-block {
			display: flex;
			justify-content: flex-start;
			gap: toRem(15);
		
		& img{
			width: toRem(30);
			height: toRem(30);
			aspect-ratio: 30 /30; 
			object-fit: contain;

//----------------anime--------------------
animation-name: trans; /* приєднали сценарій */
animation-delay: 0s; /* затримка анімації */
animation-duration: 3s; /* встановили час тривалості сценарію */
animation-timing-function: linear;/* плавність */
animation-iteration-count: infinite;/* infinite -нескінченне */ /* або 1, 2, 3... */  /* кіл-сть повторень анімації */
animation-direction: alternate /* reverse */ /* alternate-reverse */; /* напрямок анімації - ця в зворотньому */
/*animation-play-state: running; /* запустили - це за замовченням, а при hover:paused, none; */ 
animation-fill-mode: forwards /* у кінцевому положенні*/ /* backwards - у початковому положенні */;
//----------------anime--------------------
		}
		& a {
			display: block;
			display: flex;
			align-items: center;
			font-family: 'Inter';
			font-weight: 600;
		}
	}
	

	&__list {
		text-align: right;
		@media(max-width: toEm(1235)) {
			text-align: left;
		}
	}
	// .footer__link
	&__link {

		font-size: toRem(20);
		margin-bottom: toEm(25, 20);
		font-family: 'Inter';
		font-weight: 500;
		transition: 0.5s;
		&:hover {
			text-decoration: underline;
		}
		&__a {
			display: block;
		}

	}
			//&__right {
				&__right {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					& p {
						font-size: toRem(20);
						font-family: 'Inter';
						font-weight: 600;margin-bottom: toEm(15, 20);
					}
				}
				&__foto img {
					width: 100%;
					height: 100%;
					aspect-ratio: 150 / 50;
					object-fit: contain;
				}

}
