@use "sass:math";

// Підключення шрифтів
@import "_fonts.scss";

// Скидання стилів
@import "_reset.scss";

// Функції
@import "_function.scss";

// Компоненти, сторінки
@import "_common.scss";


// Компоненти, сторінки
@import "header.css";





body {
	$colorBody: #0e0d0d;
	$backgroundBody: #fbf0e6;
	font-size: toRem(16);
}



.wrapper {
	overflow: clip;
	min-height: 100%;
	

	display: flex;			//прижимаем футер книзу
	flex-direction: column; //прижимаем футер книзу
}
.wrapper main {
	flex-grow: 1;			//прижимаем футер книзу
}


// для усіх "__container" однаково
[class*="__container"] {
	max-width: 1270px;/* 1240 + 15 + 15 */
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

//SCSS основні стилі 
.hero {
	background: url(../img/Frame28.png) #1c1b1b;
	background-position: top toRem(180) left toRem(250), 0 0;
	background-repeat: no-repeat, no-repeat;
	background-size:  toRem(600) toRem(600), cover;
	@media(max-width: toEm(1230)) {
		background-position: center toRem(100) left toRem(50), 0 0;
	}
	@media(max-width: toEm(992)) {
		background-position: center toRem(100) left toRem(0), 0 0;
	}
	@media(max-width: toEm(815)) {
		background: url(../img/Frame28.png) #1c1b1b;
		background-position: center left toRem(250), 0 0;
		background-repeat: no-repeat, no-repeat;
		background-size:  toRem(0) toRem(0), cover;
	}

	padding: toRem(8) toRem(0) toRem(1.25);
	height: 100svh;

	display: flex;
	align-items: center;

	// .hero__container
	&__container {
		display: grid; 		// пишемо 'ДЛЯ ВИРІВНЮВАННЯ КОНТЕНТУ' у картці право-центр-ліво
		width: 100%;
	}

	&__content {
		padding: toRem(20);
		& > *:last-child {
			margin-bottom: toEm(0);
		}
		@media(max-width: toEm(815)) {
			justify-self: center;	 // пишемо 'ДЛЯ ВИРІВНЮВАННЯ КОНТЕНТУ' у картці право-центр-ліво
		}
		@media(max-width: toEm(340)) {
			padding: toRem(0);
		}
		//background-color: #1c1b1b;

		justify-self: end;	 // пишемо 'ДЛЯ ВИРІВНЮВАННЯ КОНТЕНТУ' у картці право-центр-ліво
		align-self: end;

		& h1 {
			font-size: toRem(50);
			text-transform: uppercase;
			font-family: 'PFMonumentaPro';
			text-align: center;
			color: $backgroundBody;
			padding: toRem(20);
			justify-self: center;
			@media(max-width: toEm(460)) {
				margin-bottom: toEm(10);
			}
			@media(max-width: toEm(460)) {
				margin-bottom: toEm(25);
			}
			@media(max-width: toEm(415)) {
				font-size: toRem(40);
				margin-bottom: toEm(25);
			}
			@media(max-width: toEm(375)) {
				padding: toRem(5);
				margin-bottom: toEm(40);
			}
			@media(max-width: toEm(340)) {
				margin-bottom: toEm(25);
			}
		}
	}

	// .hero__img
	&__img {
		max-width: toRem(450); 	//задаем ширину обьекту-оболочке
		@media(max-width: toEm(815)) {
			max-width: 100%;
			aspect-ratio: 200 / 70;
		}
		@media(max-width: toEm(600)) {
			max-width: 100%;
			aspect-ratio: 150 / 70;
		}
		@media(max-width: toEm(600)) {
			max-width: 100%;
			aspect-ratio: 100 / 70;
		}
	}
	&__img img {
		width: 100%;
		height: 100%;
		aspect-ratio: 200 /150;	 //задаем высоту фото
		object-fit: contain;
		padding: toRem(20);
		justify-self: start;	 // пишемо 'ДЛЯ ВИРІВНЮВАННЯ КОНТЕНТУ' у картці право-центр-ліво

		@media(max-width: toEm(450)) {
			aspect-ratio: 100 / 70;
		}
		@media(max-width: toEm(400)) {
			margin-bottom: toEm(30);
		}
		@media(max-width: toEm(375)) {
			aspect-ratio: 90 / 80;
			padding: toRem(5);
		}
		@media(max-width: toEm(375)) {
			margin-bottom: toEm(50);
		}
	}

	// .hero__scales
	&__scales {
		max-width: toRem(450); 		//задаем ширину обьекту-оболочке
		@media(max-width: toEm(815)) {
			max-width: 100%;
			aspect-ratio: 250 / 100;
		}
	}
	&__scales img {
		width: 100%;
		height: 100%;
		aspect-ratio: 200 / 100;	 //задаем высоту фото
		object-fit: contain;
		padding: toRem(20);
		justify-self: start;	 // пишемо 'ДЛЯ ВИРІВНЮВАННЯ КОНТЕНТУ' у картці право-центр-ліво

		@media(max-width: toEm(604)) {
			aspect-ratio: 350 / 100;
		}
		@media(max-width: toEm(375)) {
			padding: toRem(5);
		}
	}
}
